<section auto-heightfixed class="details">
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="grey-bg">
                <div class="content-blk">
                    <h1>Please fill in these details</h1>
                    <div class="detail-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="select-group">
                                    <label>Age : </label>
                                    <div class="sel-div">
                                        <!--<div class="carrot">
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </div>-->
                                        <select>
                                    <option value="volvo">Below 25</option>
                                    <option value="saab">25 to 30 years</option>
                                    <option value="mercedes">31 to 35 years</option>
                                    <option value="audi">36 years and above</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="select-group">
                                    <label>Tenure at Pantaloons : </label>
                                    <div class="sel-div">
                                        <select>
                                        <option value="volvo">Less than 3 months</option>
                                        <option value="saab">3 months to 1 year</option>
                                        <option value="mercedes">1 to 3 years</option>
                                        <option value="audi">3 to 5 years</option>
                                         <option value="audi">5 years and above</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="select-group">
                                    <label>Gender : </label>
                                    <div class="sel-div">
                                        <select>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="select-group">
                                    <label>Store Name : </label>
                                    <div class="sel-div">
                                        <select>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="select-group">
                                    <label>Zone : </label>
                                    <div class="sel-div">
                                        <select>
                                    <option value="volvo">North</option>
                                    <option value="saab">South</option>
                                    <option value="mercedes">East</option>
                                    <option value="audi">West</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="begin btn btn-default" ui-sref="steps">Click here to begin!</button>
                </div>
            </div>
        </div>
    </div>
</section>