<section auto-heightfixed class="welcome">
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="grey-bg">
                <div class="content-blk">
                    <h1>Welcome to Pulse 2016!</h1>
                    <p class="greet">Thank you for taking the time to participate in this survey. </p>
                    <p class="greet">The survey should take 8-10 minutes to complete.</p>
                    <div class="main-note">
                        <p class="note">Please Note: All your answers will be kept strictly confidential. </p>
                        <p class="note">Once you select your answer & click on 'NEXT', you cannot go back to the previous section.</p>
                    </div>
                    <button type="button" class="next btn btn-default" ui-sref="details">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>