<section auto-heightfixed class="thankyou">
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="grey-bg">
                <div class="content-blk">
                    <h1>Thank you for your participation <br> in Pulse 2016!</h1>
                    <p>Your response is very important to us and we look forward <br> to serving you better.</p>
                    <!--<button type="button" class="submit btn btn-default">Click here to submit!</button>-->
                </div>
            </div>
        </div>
    </div>
</section>