<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
                <a class="navbar-brand left-brand" ui-sref="home"><img src="img/aditya-birla.png" class="ad" alt="logo"> </a>
                <div class="pa"><img src="img/pantaloons.png" class="img-responsive" alt=""></div>
            </div>
        </div>
    </nav>
</header>